<div class="page-head">
    <ol class="breadcrumb">
      <li><a href="/#/app/home">主页</a></li>
      <li><a href="javascript:;">心电图管理</a></li>
      <li><a href="/#/app/search/patient">心电信息</a></li>
      <li class="active">诊断信息</li>
    </ol>
  </div> 
  <div class="cl-mcont">
    <div class="row">
      <div class="col-md-12">
        <div class="block-flat">
          <div class="content">
            <div class="table-responsive">
              <div id="datatable_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="pull-left">
                      <div class="dataTables_filter" >
                        <form>
                          <input aria-controls="datatable" class="form-control" 
                            placeholder="输入标签名查询" type="text">
                          <button class="btn btn-primary" style="margin-top: 5px;" 
                            data-dismiss="modal" (click)="getCheckList()">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            查询
                          </button>
                          <button class="btn btn-info search-btn" style="margin-top: 5px;" (click)="toAdd()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            添加
                          </button>
                          <button class="btn btn-warning search-btn" disabled="{{selDisabled}}"
                            style="margin-top: 5px;" (click)="toEdit()">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            编辑
                          </button>
                          <button class="btn btn-danger search-btn" disabled="{{selDisabled}}" 
                            style="margin-top: 5px;" (click)="toDelete()">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                            删除
                          </button>
                        </form>
                      </div>
                    </div>
                    <div class="clearfix">
                    </div>
                  </div>
                </div>
                <app-grid #checkGrid [url]="url" [headers]="checkGridHeaders" [params]="searchParams">
                </app-grid>  
              </div>             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-confirm #confirm></app-confirm>
<app-modal #modal></app-modal>
